/* @tailwind base; */
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style-type: none;
}
body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.overlay {
  @apply fixed left-0 top-0 z-[999] flex h-full w-full items-center justify-center bg-black/60;
}

.modal {
  @apply relative min-h-[80vh] w-[90vw] rounded-[20px] bg-white pb-7 text-black outline-none py-12 px-4;
  button {
    -webkit-tap-highlight-color: transparent;
  }
}